platform: linux
image_resource:
  type: docker-image
  source:
    repository: golang
run:
  path: source/ci/tasks/build.sh
params:
  DEV: false
inputs:
- name: source
outputs:
- name: compiled-output
