platform: linux
image_resource:
  type: registry-image
  source:
    repository: cryogenics/essentials
    tag: 0.1.40
inputs:
  - name: source
  - name: env
run:
  path: source/ci/tasks/runIntegrationTestsAgainstTAS.sh
